*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
.text__shape {
    left: 128px;
    position: absolute;
    top: 50%;
}

.text__shape h2 {
    color: #f7f7f7;
    font-family: Josefin Sans;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    transform: rotate(180deg) translateY(50%) translateX(0);
}